# ~/.config/systemd/user/improved_client@.service
[Unit]
Description=Improved Exhibition Client %i
After=graphical-session.target

[Service]
Type=simple
Environment=CLIENT_ID=%i
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=%h/improved_client.sh
Restart=always
RestartSec=1
# Logs gehen ins Skript-eigene ~/logs/clientXX.log

[Install]
WantedBy=default.target
